[gcode_macro HMTK_VARS]
description: Echo HMTK variables to the console.
variable_channel_positions = [4.5, 8.5, 12.5, 16.5, 20.5, 24.5, 28.5, 32.5, 36.5]
variable_current_channel: -1
variable_is_homed: False
gcode:
  ECHO_HMTK_VARS

[gcode_macro ECHO_HMTK_VARS]
description: Echo HMTK variables to the console.
gcode:
  {% for var, value in printer["gcode_macro HMTK_VARS"].items() %}
    {action_respond_info(var ~ ": " ~ value)}
  {% endfor %}

[tmc2209 manual_stepper selector_stepper]
diag_pin: ^PG12
driver_sgthrs: 40
interpolate: false
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
uart_pin: PF2

[manual_stepper selector_stepper]
accel: 1000
dir_pin: !PF10
enable_pin: !PG2
endstop_pin: tmc2209_selector_stepper:virtual_endstop
full_steps_per_rotation: 200
microsteps: 32
rotation_distance: 40
step_pin: PF9
velocity: 20

# [tmc2209 manual_stepper selector_stepper]
# diag_pin: ^PG12
# driver_sgthrs: 240
# # hold_current: 0.2
# interpolate: True
# run_current: 0.4
# sense_resistor: 0.110
# stealthchop_threshold: 100
# uart_pin: PC7

# [manual_stepper selector_stepper]
# accel: 1000
# dir_pin: !PC1
# enable_pin: !PA0
# endstop_pin: tmc2209_selector_stepper:virtual_endstop
# full_steps_per_rotation: 200
# microsteps: 32
# rotation_distance:  40
# step_pin: PG4
# velocity: 200

# [tmc2209 manual_stepper feeder_stepper]
# hold_current: 0.4
# interpolate: true
# run_current: 0.8
# stealthchop_threshold: 0
# uart_pin: PF2

# [manual_stepper feeder_stepper]
# accel: 1000
# dir_pin: !PF10
# full_steps_per_rotation: 400
# enable_pin: !PG2
# microsteps: 64
# rotation_distance:  16.808
# step_pin: PF9

[gcode_macro _ANNOUNCE]
description: Sends a message to the terminal and the screen
gcode:
  M117 {params.MSG}
  RESPOND MSG="{params.MSG}" PREFIX=""

[gcode_macro _HOME_HMTK]
description: Homes the HMTK
gcode:
  _ANNOUNCE MSG="Homing HMTK Selector..."
  MANUAL_STEPPER STEPPER=selector_stepper SET_POSITION=40
  MANUAL_STEPPER STEPPER=selector_stepper MOVE=0 STOP_ON_ENDSTOP=1
  MANUAL_STEPPER STEPPER=selector_stepper SET_POSITION=0
  SET_GCODE_VARIABLE MACRO=HMTK_VARS VARIABLE=is_homed VALUE=True
  SET_GCODE_VARIABLE MACRO=HMTK_VARS VARIABLE=current_channel VALUE=-1
  _ANNOUNCE MSG="Done homing HMTK"

[gcode_macro _HOME_HMTK_IF_NEEDED]
description: If the HMTK isn't homed, home the selector
gcode:
  {% if printer["gcode_macro HMTK_VARS"].is_homed|lower == 'false' %}
    _HOME_HMTK
  {% endif %}


[gcode_macro _HMTK_CHANGE_TOOL]
description: Change to the desired tool
gcode:
  _ANNOUNCE MSG="Changing tool..."
  _HOME_HMTK_IF_NEEDED
  MANUAL_STEPPER STEPPER=selector_stepper MOVE={printer["gcode_macro HMTK_VARS"].channel_positions[params.TOOL|int]}
  
[gcode_macro T0]
description: Change to tool 0
gcode:
  _HMTK_CHANGE_TOOL TOOL=0

[gcode_macro T1]
description: Change to tool 1
gcode:
  _HMTK_CHANGE_TOOL TOOL=1

[gcode_macro T2]
description: Change to tool 2
gcode:
  _HMTK_CHANGE_TOOL TOOL=2

[gcode_macro T3]
description: Change to tool 3
gcode:
  _HMTK_CHANGE_TOOL TOOL=3

[gcode_macro T4]
description: Change to tool 4
gcode:
  _HMTK_CHANGE_TOOL TOOL=4

[gcode_macro T5]
description: Change to tool 5
gcode:
  _HMTK_CHANGE_TOOL TOOL=5

[gcode_macro T6]
description: Change to tool 6
gcode:
  _HMTK_CHANGE_TOOL TOOL=6

[gcode_macro T7]
description: Change to tool 7
gcode:
  _HMTK_CHANGE_TOOL TOOL=7

[gcode_macro T8]
description: Change to tool 8
gcode:
  _HMTK_CHANGE_TOOL TOOL=8
